.App {
  text-align: center;
}

.recipe__holder{
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.form-container{
  margin: 20px;
}

.search-form{
  height: 22px;
  width: 15vw;
  font-size: medium;
}